@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans:wght@400;600&display=swap");
$lightOrange: #997d5e;
$lightPeach: #fff4e9;
$brown: #7f4b13;
$brownHover: rgba(127, 75, 19, 0.6);
$darkPeach: #ffdfbe;
$peach: #ffecd8;
$extraPeach: #FFECD7;
$lightBrown: rgba(127, 75, 19, 0.42);
$brownBorder: #c9955d;
$orange: #fc8f1a;
$backgroundOrange: #5fe7ff;
$backgroundGradient: #79fe67;

*,
:after,
:before {
    margin: 0 auto;
    box-sizing: border-box;
}